{% load static %}

<!-- top navigation -->
<table style="border: none; width: 100%; background: transparent;">
    <tr>
        <td style="background: transparent; border: none; text-align: left;">
            <a href="/"><img height="60" src="{% static 'swackhammer/images/pn-lineup.gif' %}" /></a>
        </td>
        <td style="background: transparent; border: none; text-align: right; vertical-align: top;">
            <a href="{% url 'signout' %}">Sign Out</a>
        </td>
    </tr>
</table>

<!-- bupkus navigation -->
<table style="border: none; background: transparent;">
    <tr>
        <td style="border: none; background: transparent;">
            <a href="{% url 'tokens' %}">
                <img src="{% static 'swackhammer/images/credits.gif' %}" />
                <br /> API Tokens
            </a>
        </td>
        <td style="border: none; background: transparent;">
            <a href="{% url 'bupkus' %}">
                <img title="bupkus" src="{% static 'bupkus/images/bupkustar.gif' %}" title="welcome to the jam" />
            </a>
        </td>
        <td style="border: none; background: transparent;">
            <a href="{% url 'config' %}">
                <img src="{% static 'swackhammer/images/credits.gif' %}" />
                <br /> Configure
            </a>
        </td>
    </tr>
</table>
<hr />