body {
	background: url("./images/bg_stars.gif");
}

h1 {
	text-align: center;
	color: red;
	font-size: +2;
}
h2 {
	text-align: center;
	color: yellow;
	font-size: +1;
}

a:link {
	color: red;
}
a:visited {
	color: red;
}
a:hover {
	color: blue;
}

p {
    color: white;
    text-align: center;
}

hr {
    height: 5px;
    border-width: 0px;
    background-color: lightgray;
    margin-left: 0px;
    margin-right: 0px;
}

table, td, th {
	border: none;
    border-spacing: 1px;
    margin: auto;
    padding: 3px;
}
td, th {
	border: 1px ridge #feff89;
	background-color: black;
	text-align: center;
	color: yellow;
}
td {
	color: #feff89;
}