{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'swackhammer/style.css' %}">
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>The Monstars' Starting Lineup</title>
  </head>
  <body>
    <table style="border: none; width: 100%; background: transparent;">
        <tr>
            <td style="background: transparent; border: none; text-align: left;">
                <!-- <a href="/"><img height="60" src="{% static 'swackhammer/images/pn-lineup.gif' %}" /></a> -->
            </td>
            <td style="background: transparent; border: none; text-align: right; vertical-align: top;">
                <a href="{% url 'signout' %}">Sign Out</a>
            </td>
        </tr>
    </table>

    <p><img src="{% static 'swackhammer/images/b-badguy.gif' %}" title="welcome to the jam" /></p>

    <table style="border: none; background: transparent;">
        {% for name, config in monstar_apps.items %}
            <tr>
                <td style="text-align: center; vertical-align: center;">
                    <a href="/{{ name }}/" title="{{ name }}"><img src="{{ config.nerdluck_img }}" /></a>
                </td>
                <td style="text-align: center; vertical-align: center; padding: 10px;">
                    {{ config.monstars_bio }}
                </td>
            </tr>
        {% endfor %}
    </table>

  </body>
</html>